<div class="modal-demo">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Add/Edit Category</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="form-group">
            <label for="usr">Название:</label>
            <input type="text" class="form-control" placeholder="Введите название" ng-model="Name">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>
